Source: liboping
Section: libs
Priority: optional
Maintainer: Sebastian Harl <tokkee@debian.org>
Build-Depends: debhelper (>= 5.0.0), dpkg-dev (>= 1.14.13), autotools-dev, perl, perl-modules
Standards-Version: 3.8.4
Homepage: http://verplant.org/liboping/
Vcs-Git: git://git.tokkee.org/pkg-liboping.git
Vcs-Browser: http://git.tokkee.org/?p=pkg-liboping.git

Package: liboping-dev
Section: libdevel
Architecture: any
Depends: liboping0 (= ${binary:Version})
Conflicts: liboping0-dev
Replaces: liboping0-dev
Description: C/C++ library to generate ICMP ECHO_REQUESTs (development files)
 liboping features pinging multiple hosts in parallel using IPv4 or IPv6
 transparently. The interface is object oriented.
 .
 This package contains the header files, the static library and the manpages.

Package: liboping0
Architecture: any
Depends: ${shlibs:Depends}
Description: C/C++ library to generate ICMP ECHO_REQUESTs
 liboping features pinging multiple hosts in parallel using IPv4 or IPv6
 transparently. The interface is object oriented.
 .
 This package contains the shared library.

Package: oping
Section: net
Architecture: any
Depends: ${shlibs:Depends}, liboping0 (>= ${source:Upstream-Version})
Description: sends ICMP_ECHO requests to network hosts
 oping uses ICMP packages (better known as "ping packets") to test the
 reachability of network hosts. It supports pinging multiple hosts in parallel
 using IPv4 or IPv6 transparently.

Package: libnet-oping-perl
Section: perl
Architecture: any
Depends: ${perl:Depends}, ${shlibs:Depends}, liboping0 (>= ${source:Upstream-Version})
Description: module for ICMP latency measurement
 Net::Oping is a Perl module for sending ICMP ECHO_REQUESTs (better known as
 "ping packets") and measuring the time that elapses until the reception of an
 ICMP ECHO_REPLY packet (also known as "pong"). It supports pinging multiple
 hosts in parallel using IPv4 or IPv6 transparently.

